<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/imags/POwerLogo.png" type="image/x-icon" style="border-radius: 50%;">
    <link rel="stylesheet" href="/css/welcom.css">
    <title>Power</title>
</head>
<body>


    <div class="list"><i class="fa-solid fa-list"></i></div>


    
    <div class="welcom">
        <!-- <img src="../public/imags/8888888888.jpg" alt=""> -->
   





            <div class="container">

                <div class="text">
                    <img src="/imags/POwerLogo.png" style="width: 150px ;height: 150px;" alt="">
                    <h1>WELCOME TO <br><span class="highlight">" POWER "</span><br> WEBSITE!</h1>
                    
                    <!-- <h5>
                        We are a student science club that seeks to combine skills with fun and create a suitable atmosphere for its owners and accompany those who wish to discover their hobbies. We work on this by:
                        <br> ^ Including people with the same interests in one environment
                        <br> ^ Developing skills by specialists
                        <br> ^ Training workshops
                        <br> ^ Practical work to embody the work
        
                        ^ We will have more different workshops to meet the rest of the interests
                    
                    </h5> -->

                    <div class="nas">
                         <h5> ูุญู ูุงุฏู ุนููู ุทูุงุจู   ูุณุนู ุงูู ุฏูุฌ ุงูููุงุฑุงุช ุจุงููุชุนุฉ ู ุฎูู ุฌู ููุงุฆู ูุฃุตุญุงุจูุง ู ูุฑุงููุฉ ุงูุฑุงุบุจูู ูู ุงูุชุดุงู ููุงูุงุชูู ุ ู ูุนูู ุนูู ุฐูู ุจ : 
                            _ ุถู ุงุตุญุงุจ ููุณ ุงููููู ุงูู ุจูุฆุฉ ูุงุญุฏุฉ ุ 
                            _ ุชุทููุฑ ุงูููุงุฑุงุช ูู ููุจู ุงููุฎุชุตูู ุ
                            _ ูุฑุดุงุช ุชูููููุฉ ุ
                            _ ุงุนูุงู ุชุทุจูููุฉ ูุชุฌุณูุฏ ุงูุงุนูุงู .
                            ...
                            ู ุณุชููู ููุง ุงููุฒูุฏ ูู ูุฎุชูู ุงููุฑุดุงุช ูุชูุจูุฉ ุจุงูู ุงูุงูุชูุงูุงุช 
                        </h5>
                    </div>
                  

                    <button id="scroll-down-button"> ุชุณุฌูู </button>

                
                </div>

                <div class="image">
                    <img src="/imags/Adobe Express - file (3).png" alt="ุตูุฑุฉ ">
                </div>
                
            </div>

 




            

            <div class="developers-row">
                <div class="developer">
                    <img src="https://cdn-icons-png.flaticon.com/512/1055/1055666.png" alt="Front-End Developer">
                        <h2>ูุทูุฑ ุงููุงุฌูุฉ ุงูุฃูุงููุฉ</h2>
                        <p>ูุชุฎุตุต ูู ุจูุงุก ูุงุฌูุงุช ุงููุณุชุฎุฏู <br>ุจุงุณุชุฎุฏุงู HTML, CSS, JavaScript.</p>
                </div>
        
                <!-- ูุทูุฑ ุงููุงุฌูุฉ ุงูุฎูููุฉ -->
                <div class="developer">
                    <img src="https://cdn-icons-png.flaticon.com/512/1055/1055683.png" alt="Back-End Developer">
                    <h2>ูุทูุฑ ุงููุงุฌูุฉ ุงูุฎูููุฉ</h2>
                    <p>ูุนูู ุนูู ุงูุฎูุงุฏู ูููุงุนุฏ ุงูุจูุงูุงุช<br>  Node.js, Python....   ุจุงุณุชุฎุฏุงู ุชูููุงุช </p>
                </div>

            </div>



    </div>
            

            
    <div class="form-container">
        <h1> ุชุณุฌูู</h1>
        <form  aaction="/" method="post">
            <!-- ุญูู ุงูุงุณู -->
            <div class="form-group">
                <label for="name" > : ุงูุงุณู </label>
                <input type="text" id="name" name="name" required>
            </div>

            <!-- ุญูู ุงูุจุฑูุฏ ุงูุฅููุชุฑููู -->
            <div class="form-group">
                <label for="gmail">:  ุงูุจุฑูุฏ ุงูุฅููุชุฑููู:</label>
                <input type="email" id="gmail" name="gmail" required>
            </div>

            <!-- ุญูู ุงููุงุชู -->
            <div class="form-group">
                <label for="phone">:  ุงููุงุชู </label>
                <input type="tel" id="phone" name="phone" required>
            </div>

            <!-- ุญูู ุงูุงุฎุชูุงุฑ (A/B/C/D) -->
            <div class="form-group">
                <label for="choix">:  ุงูุงุฎุชุตุงุต</label>
                <input type="text" id="inpt" name="choix" list="choix">
                <datalist id="choix"  required>
                    <option value="">-- ุงุฎุชุฑ --</option>
                    <option value="informatique">informatique</option>
                    <option value="Biologists">Biologists</option>
                    <option value="Math">Math</option>
                    <option value="Physics">Physics</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Geologic">Geologic</option>
                    <option value="Sports">Sports</option>
                    <option value="Medecine">Medecine</option>
                    <option value="economy">Medecine</option>
                    <option value="St">St</option>
                    <option value="Droi">Droi</option>
                    <option value="Humanity science">Humanity science</option>
                    <option value="Comunety science">Comunety science</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Arts">Arts</option>
                    <option value="Author">Author</option>
                </datalist>
            </div>

            <!-- ุญูู ุงูุณูุฉ ุงูุฏุฑุงุณูุฉ -->
            <div class="form-group">
                <label for="annee">:  ุงูุณูุฉ ุงูุฏุฑุงุณูุฉ</label>
                <select id="annee" name="annee" required>
                    <option value="">-- ุงุฎุชุฑ --</option>
                    <option value="1 Licence">1 Licence</option>
                    <option value="2 Licence">2 Licence</option>
                    <option value="3 Licence">3 Licence</option>
                    <option value="1 Master">1 Master</option>
                    <option value="2 Master">2 Master</option>
                </select>
            </div>

            <!-- ุญูู "ูุง ุชุนุฑูู" -->
            <div class="form-group">
                <label for="knowledge">:  ูุง ุชุนุฑูู </label>
                <textarea id="knowledge" name="knowledge" rows="4" required></textarea>
            </div>

            <!-- ุฒุฑ ุงูุฅุฑุณุงู -->
            <div class="form-group">
                <button type="submit">ุฅุฑุณุงู</button>
            </div>
        </form>
    </div>

    <hr>

 
    <div class="clubs">
      
        <div class="twoclubs">

            <div class="cari">
                <img src="/imags/zakiFoto.png" alt="">
                <div class="writ">
                    <h2> Lazhar </h2>
                    <h5> Hey, Iโm Lazharโa full-stack ,I use HTML and CSS to design clean, ๐๐จโ๐ป </h5>
                </div>
            </div>
    
            <div class="cari leftt">
                <img src="/imags/naro.png" alt="">
                <div class="writ">
                    <h2> Naro </h2>
                    <h5> Hey, Iโm Naro full-stack ,I use HTML and CSS to design clean, ๐๐จโ๐ป </h5>
                </div>
            </div>
        </div>

        <div class="twoclubs">

            <div class="cari">
                <img src="/imags/chaima.png" alt="">
                <div class="writ">
                    <h2> Chaima </h2>
                    <h5> Hey, Iโm Chaima full-stack ,I use HTML and CSS to design clean, ๐๐จโ๐ป </h5>
                </div>
            </div>

            <div class="cari leftt">
                <img src="/imags/lazharfoto.png" alt="">
                <div class="writ">
                    <h2> Zaki </h2>
                    <h5> Hey, Iโm Zaki full-stack ,I use HTML and CSS to design clean, ๐๐จโ๐ป </h5>
                </div>
            </div>
       </div>

    </div>

   


    <footer>
        <!-- Image on the left -->
        <div class="logo">
            <img src="/imags/009.jpg" alt="Logo">
            <h5>LAZHAR DEVLOPER THISE SITH WEB </h5>
        </div>

        <!-- Icons on the right -->
        <div class="icons">
            <a href="https://web.facebook.com/profile.php?id=61554791851003" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="t.me/laz_hh_ar_x0" aria-label="Twitter"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/laz_hhar_x0/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>






    <script src="/js/welcom.js"></script>
</body>
</html>