
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Droid Arabic Kufi', serif;

}

body{
    height: 100vh;
    /* background: linear-gradient(to bottom, rgb(44, 43, 38) 0%, rgb(255, 200, 0) 55%,  rgb(39, 5, 89) 54%); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
}

.list{
    /* margin: 20px 0; */
    background-color: rgb(117, 117, 54);
    padding: 10px 0;
}
/* .nos{
    background-color: #303030;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 60% 100%, 0 100%);

} */
.welcom{
    background: linear-gradient(to bottom, rgb(44, 43, 38) 0%, rgb(255, 200, 0) 63%,  rgb(39, 5, 89) 60%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0 50px;
}


.container {
    height: 500px;
    /* background-color: rgb(251, 220, 47); */
    /* display: flex; */
    line-height: 1.5;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.341);
    font-size: larger;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    margin: auto;
    padding: 10px;
    
    /* text-align: center; */
}

.nas {
    width: 600px;
    margin: 0 auto;
}

.text button{
    width: 100px;
    margin: 20px 0 0;
    border: none;
    outline: none;
    padding: 4px 22px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #30303099;
    color: rgb(209, 255, 27);
    cursor: pointer;
}

.text button:hover{
    background-color: #161212;
    color: rgb(204, 255, 0);
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.441);
}
.highlight {
    color: rgba(185, 185, 51, 0.751);
    font-weight: bold; 
}

.text h5{
    width: 200px;
    margin: 0 auto;
    background-color: #3030305d;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.441);
    /* text-align: left; */
    padding: 10px;
    width: 80%;
    color: antiquewhite;
}


.image img {
    height: 350px;
    border-radius: 0  120px 0 120px;
}
.image{
    overflow: visible;
}
/* ----------------------- */
.clubs{
    margin: 0 auto;
    min-width: 200px;
    width: 55%;
    /* background-color: #b9111186; */
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.1;
}
.twoclubs {
    margin: 0;
}


.cari{
    /* width: 400px; */
    /* background-color: rgb(250, 235, 215); */
    margin: 20px auto;
    /* padding: 20px 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cari img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.cari .writ{
    /* width: 40%; */
    padding-left: 10px;
    text-align: left;
    color: #1612128e;
    /* background-color: #cf27275e; */
}
.writ h2{
    color: #161212f9;
    font-size: 14px;
}

.writ h5{
    text-align: left;
    /* color: #161212f9; */
    font-size: 9px;
}

/* --------------- */



.developers-row {
    margin: 450px 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: left ;
    /* overflow-x: scroll; */
    white-space: nowrap; 
}
.developer {
    /* flex: 0 0 auto;*/
    width: 250px; 
    margin: 5px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden;
}
.developer img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}
.developer h2 {
    color: #555;
    font-size: 17px;
}
.developer p {
    color: #605f5f;
    font-size: 11px;
    margin: 10px 0;
}


/* ------------------------------------------ */



.form-container {
    /* background-color:  rgba(39, 5, 89, 0.574); */
    margin: 90px auto 0;
    padding: 20px;
    border: none;
    outline: none;
    text-align: right;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #720a0a;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #84857c;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #2980b9;
}

.form-group input ,
.form-group select,
.form-group textarea
{
    border: none; /* إزالة الحدود */
    outline: none; /* إزالة الحد الخارجي */
    /* box-shadow: 0px 3px  6px rgba(0, 0, 0, 0.259) ; */
    border-bottom: 2px solid rgb(146, 146, 146);
}

input:focus {
    border: none; /* إزالة الحدود */
    outline: none; /* إزالة الحد الخارجي */
}


/* ---------------------------------- */



 /* Basic styling for the footer */
 footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 10PX 20px;
    background-color: #333333a0;
    color: white;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logo H5{
    margin-left: 20PX;
}
/* Style for the image on the left */
footer .logo img {
    border-radius: 50%;
    height: 40px; /* Adjust as needed */
}

/* Style for the icons on the right */
footer .icons {
    display: flex;
    gap: 15px; /* Space between icons */
}

footer .icons a {
    color: white;
    font-size: 24px; /* Adjust icon size */
    text-decoration: none;
}

footer .icons a:hover {
    color: #ccc; /* Hover effect */
}








/* ---------------------   phone ------------ */




@media (max-width: 420px){
    body{
        /* background-color: #726e1a; */
        /* overflow: hidden; */
    }

.text h1{
    font-size: 20px;
}
.text button{
    margin-top: 40px;
    box-shadow: 2px 2px 2px black ;
}
.nas{
    width: 99%;
    font-size: 13px;
}

.clubs{
    /* display: none; */
}

.image img{
    margin-top: 40px;
    height: 200px;
}

.welcom{
    background: linear-gradient(to bottom, rgb(44, 43, 38) 0%, rgb(255, 200, 0) 52%,  rgb(39, 5, 89) 52%);
}


.developers-row{
    /* margin: 0 ; */
     /* text-align: left;  */
    /* overflow-x: scroll;  */
}
.developer {
    /* background-color: #297fb98c; */
    /* text-align: left; */
    text-overflow: ellipsis;

} 
.developer img{
    width: 50px;
    height: 50px;
}
.developer h2{
    font-size: 13px;
}
.developer p{
    font-size: 8px;
    font-weight: 600;
}

.cari img{
    width: 45px;
    height: 45px;
}
.cari{
    margin-left: 0;
    /* background-color: #e3545466; */
}

.writ h2{
    font-size: 9px;
}

.writ h5{
    text-align: left;
    /* color: #161212f9; */
    font-size: 7px;
}

.clubs{
    width: 90%;
}
.logo h5{
    font-size: 8px;
}

footer .icons a {
    font-size: 18px; /* Adjust icon size */
}
footer .logo H5{
    margin-left: 10PX;
}
}


@media (min-width: 420px){


}